*{
    margin: 0 ;
    padding: 0;
   
}
main{
    width: 800px;
    height: 100vh;
    border: 2px solid #bde0fe;
    margin: 0 auto;
    padding: 2em;
    margin-top: 20px;
}
.ques{
    border: 2px solid orange;
    padding: 10px;
}

